<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/profile.css">
  <title>Profile</title>
</head>
<body>
  <header>
    <div class="header-content">
      <div class="header-left">
        <h1 class="site-title">JobApplyTracker</h1>
      </div>
      <div class="header-right">
        <a href="/profile" class="btn profile-btn">Profile</a>
        <a href="/logout" class="btn logout-btn">Logout</a>
      </div>
    </div>
  </header>
  <div class="container">
    <h1 class="header-center">Profile</h1>
    <form class="profile-form" action="/profile" method="POST">
      <div>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" value="<%= user.firstname %>">
      </div>
      <div>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" value="<%= user.lastname %>">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= user.email %>">
      </div>
      <div>
        <label for="github">Github</label>
        <input type="text" id="github" name="github" value="<%= user.github %>">
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
</body>
</html>
