@import 'main';

.register-form {
  max-width: 300px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ddd;
  background: #fff;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.register-form button:hover {
  background: #555;
}
